
<!DOCTYPE html>
<html>
<head>
    <title>Gioco</title>
    <script>
      document.addEventListener("keydown", function(e) {
        if (e.key === "Escape") {
          if (confirm("Vuoi tornare alla home o giocare ancora?")) {
            window.location.href = "/";
          } else {
            window.location.href = "/play";
          }
        }
      });
    </script>
    <style>
        html, body {
            margin: 0; padding: 0;
            width: 100%; height: 100%;
            background: black;
        }
        iframe {
            border: none;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <iframe src="/static/games/{{ game }}/index.html"></iframe>
</body>
</html>
