{% extends 'base.html' %}
{% block content %}
<h2 class="text-xl mb-4">{{ _('Registrati') }}</h2>
<form method="POST" class="space-y-2">
  <input name="username" required placeholder="Username" class="p-2 w-full bg-gray-800 text-white"><br>
  <input name="password" type="password" required placeholder="Password" class="p-2 w-full bg-gray-800 text-white"><br>
  <select name="role" class="p-2 w-full bg-gray-800 text-white">
    <option value="player">{{ _('Giocatore') }}</option>
    <option value="developer">{{ _('Sviluppatore') }}</option>
  </select><br>
  <button class="bg-green-600 px-4 py-2 text-white rounded" type="submit">{{ _('Registrati') }}</button>
</form>
{% endblock %}
